body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/*** Hero ***/

.hero > .container{
    padding: 10px 400px 100px 400px;
}
.hero{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
}

.header-links{
    display: flex;
    gap: 10px;
}

ul{
    margin: 0;
}

li{
    list-style: none;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.hero-secondary-text,
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-secondary-text{
    width: 400px;
}

.hero-main-text{
    font-size: 48px;
    color: #f9faf8;
    width: 300px;
    font-weight: 900;
}

.left-container > button{
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
    margin-top: 10px;
}

img{
    height: 180px;
    width: 500px;
}


/*** End Hero ***/

/*** information section ***/

.information-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-section > .container{
    display: flex;
    gap: 80px;
}

.information-box{
    width: 145px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.information-box > div{
    text-align: center;
}

.information-header{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 50px 0;
}

.illustration{
    height: 140px;
    width: 140px;
    border: 4px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 10px;
}
/*** End information section ***/



/*** General styles ***/
button{
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 5px 10px;
}
/*** End general styles ***/